body {
  background: #a2c11c;
}

a {
  color: #a2c11c;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 10px;
}

.App footer {
  text-align: center;
  margin: 30px 0;
  font-weight: 400;
}

.App .footer a{
  color: #fff;
}